.footer {
  height: 50px;
  width: 100%;
  background-color: #999999;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/* 移动端响应式 */
@media (max-width: 800px) {
  .footer {
    height: 40px;
  }
}


