.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  height: 100%;
}

.nav-logo {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.nav-text {
  font-size: 14px;
  text-align: center;
}

.nav-short {
  display: none;
}

/* 屏幕宽度 < 1400px */
@media (max-width: 1400px) {
  .navbar {
    height: 80px;
  }
  
  .nav-text {
    display: none;
  }
  
  .nav-short {
    display: block;
    font-size: 14px;
  }
}

/* 屏幕宽度 < 800px */
@media (max-width: 800px) {
  .navbar {
    width: 60px;
    height: 80px;
    padding: 0;
    flex-direction: column;
    right: 0;
    left: auto;
  }
  
  .nav-text {
    display: none;
  }
  
  .nav-short {
    display: block;
    font-size: 12px;
  }
}

