.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  gap: 0;
}

.nav-box {
  flex: 1;
  border: 1px solid #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-box a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.nav-logo {
  width: 20px;
  height: 20px;
}

@media (max-width: 1400px) {
  .navbar {
    height: 80px;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 60px;
  }
}

