.stats-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 1em;
  z-index: 1000;
}

.stats-button:hover {
  background-color: #555;
}

