.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-text {
  color: white;
  font-size: 3em;
  margin-bottom: 2rem;
}

.reset-button {
  background-color: #f00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 2rem;
}
