.seal-the-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.game-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
}

.start-message {
  position: absolute;
  top: 50px;
  font-size: 2em;
  color: #fff;
  z-index: 100;
}

.belt-container {
  width: 100%;
  position: relative;
  height: 110px;
}

.belt {
  width: 100%;
  height: 10px;
  background-color: white;
  background-image: repeating-linear-gradient(
    90deg,
    #fff 0px,
    #fff 10px,
    #ccc 10px,
    #ccc 20px
  );
  position: absolute;
  top: 50px;
  background-size: 100px 10px;
}

.belt-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  pointer-events: none;
}

.avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats-display {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.2em;
  z-index: 100;
}

.stats-display p {
  margin: 5px 0;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
}

.game-over h2 {
  font-size: 3em;
  margin: 0;
}

.game-over p {
  font-size: 1.5em;
  margin: 5px 0;
}

.game-over button {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.game-over button:hover {
  background-color: #555;
}
